<div ng-controller="productsController as productsCtrl">
	<div ng-controller="customersController as custCtrl">
		<h1>Add a new order</h1>
		<form>
			<div class="row">
				<div class="col-md-4 form-group">
					<label for="customer">Customer:</label> 
					<select id="customer" class="form-control" ng-model='orderCtrl.newOrder.customer'>
						<option ng-repeat="customer in customers" value="{{customer.name}}">{{customer.name}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 form-group">
					<label for="product">Product:</label> 
					<select id="product" class="form-control" ng-model='orderCtrl.newOrder.product'>
						<option ng-repeat="product in products" value="{{product.name}} ">{{product.name}} </option>
					</select>
				</div>
				<div class="col-md-2 form-group">
					<label for="quantity">Quantity:</label> 
					<input type="number" class="form-control" id="quantity" ng-model='orderCtrl.newOrder.quantity'>
				</div>
			</div>
				<button class="btn btn-success" ng-click="orderCtrl.addOrder()"> Order </button>
		</form>
		<table class="table table-hover">
			<thead>
				<th>Customer</th>
				<th>Product</th>
				<th>Quantity</th>
				<th>Date</th>
			</thead>
			<tbody>
				<tr ng-repeat="order in orders">
					<td ng-bind='order.customer'></td>
					<td ng-bind='order.product'></td>
					<td ng-bind='order.quantity'></td>
					<td ng-bind='order.date | date:medium'></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>